#title {
    text-align: center;
    visibility: visible;
    box-shadow: 0px 2px 10px gray;
    border-radius: 20px;
    width: 561px;
    height: 44px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color: white;

}


.sub_page .hero_area {
    height: auto;
}


h2 {
    text-decoration: none;
    font-size: x-large;


}


.main {
    display: flex;
    justify-content: center;
    /* 수평 중앙 정렬 */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url("C:/Users/ydudd/OneDrive/바탕 화면/네오짐/neogym-html/images/trainer-bg.jpg");
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar {
    box-sizing: border-box;
    align-items: center;
    position: relative;
    font-size: 2rem;
    background-color: #27223f;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.navbar .span{
    padding-left: 0px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 1000px
}



.us_section {
    background-image: url(../images/us-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

.us_section .us_container {
    padding-top: 25px;
    width: 1000px;
}

.layout_padding {
    padding-top: 50px;
    padding-bottom: 100px;
    max-height: fit-content;
    border-spacing: 50px;
    position: relative;

}

.us_section .us_container .box .img-box {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.us_section .us_container .box .img-box img {
    max-width: 100%;
}

.us_section .us_container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 25px 10px 0 10px;
}

.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 30%;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 30%;
}
a{
    color: white;
    text-decoration: none;
}

a:hover {
    transition: .2s ease-in;
    color: red;
    cursor: pointer;
}